{% extends 'base.html' %}

{% block body_class %}about{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>À propos</h1>
        <p>En savoir plus sur <strong>{{ SITE_NAME }}</strong>.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row prose">
        <p>La Base Adresse Nationale est une base de données qui a pour but de référencer l'intégralité des adresses du territoire français.</p>
        <p>Elle est constituée par la collaboration entre:</p>
        <ul>
            <li>des acteurs nationaux tels que l'<a href="http://ign.fr/">IGN</a> et <a href="http://legroupe.laposte.fr/">La Poste</a>,</li>
            <li>des acteurs locaux tels que les collectivités, les communes, les SDIS,</li>
            <li>des citoyens par exemple à travers le projet <a href="http://osm.org/">OpenStreetMap</a> et l'association <a href="http://openstreetmap.fr/">OpenStreetMap France</a>.
        </ul>
        <p>Le projet est co-gouverné par <a href="http://www.modernisation.gouv.fr/laction-publique-se-transforme/en-ouvrant-les-donnees-publiques/administrateur-general-des-donnees-chief-data-officer-interview-henri-verdier">l'Administrateur Général des Données</a> et le <a href="http://cnig.gouv.fr/">Conseil National de l'Information Géographique</a>.</p>
        <p>Le site adresse.data.gouv.fr est développé par la mission <a href="http://www.etalab.gouv.fr/">Etalab</a> du <a href="http://www.modernisation.gouv.fr/">Secrétariat Général à la Modernisation de l'Action Publique</a> (SGMAP).</p>
    </div>
    <div class="row prose">
        <p><a href="/faq">Consultez la FAQ pour en savoir plus...</a></p>
    </div>
</div>
{% endblock content %}
