<h3>Identification en cours…</h3>

<script type="text/javascript">
    if (window.opener && window.opener.UI) {
        window.opener.UI.options.user = '{{ session.fullname }}';
        window.opener.UI.oauthProceed();
    }
</script>
