{% extends 'base.html' %}

{% block body_class %}csv{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/csvtogeocoder-ui/csvtogeocoder.css') }}">
<div class="wrapper head">
    <div class="row">
        <h1>Géocoder un fichier CSV</h1>
        <p><strong>{{ SITE_NAME }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
    </div>
</div>
<div class="wrapper">
    <div id="main" class="row"></div>
</div>
<script src="{{ url_for('static', filename='node_modules/papaparse/papaparse.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/csvtogeocoder-ui/csvtogeocoder.js') }}"></script>
<script type="text/javascript">
    var onBuild = function (e) {
        CSVToGeocoder.createNode('h2', {className: 'step-title'}, e.container, '4. Paramètres avancés (optionnels)');
        var step4 = CSVToGeocoder.createNode('div', {className: 'step'}, e.container);
        var citycodeLabel = CSVToGeocoder.createNode('div',  {}, step4);
        citycodeLabel.textContent = 'Colonne contenant le code INSEE : ';
        CSVToGeocoder.createNode('select', {name: 'citycode'}, citycodeLabel);
        var postcodeLabel = CSVToGeocoder.createNode('div',  {}, step4);
        postcodeLabel.textContent = 'Colonne contenant le code postal : ';
        CSVToGeocoder.createNode('select', {name: 'postcode'}, postcodeLabel);
    };
    var onSubmit = function (e) {
        var addParameter = function (name) {
            var el = document.querySelector('select[name="' + name + '"]'),
                value = el.options[el.selectedIndex].value;
            if (value) e.form.append(name, value);
        }
        addParameter('citycode');
        addParameter('postcode');
    };
    var onFileLoad = function (e) {
        var addOptions = function (name) {
            var select = document.querySelector('select[name="' + name + '"]');
            select.innerHTML = '';
            var option = CSVToGeocoder.createNode('option', {value: ''}, select);
            option.textContent = 'Aucune';
            for (var i = 0; i < e.headers.length; i++) {
                option = CSVToGeocoder.createNode('option', {value: e.headers[i]}, select)
                option.textContent = e.headers[i];
            };
        }
        addOptions('citycode');
        addOptions('postcode');
    };
    CSVToGeocoder({
        container: '#main',
        postURL: '{{ API_URL }}/search/csv/',
        encodings: ['utf-8', 'iso-8859-1', 'windows-1252'],
        onBuild: onBuild,
        onSubmit: onSubmit,
        onFileLoad: onFileLoad,
        i18n: {
            'Choose a file': 'Choisir un fichier',
            'Preview the file and check encoding': "Aperçu du fichier et vérification de l'encodage",
            'Choose the columns you want to use to compute the addresses': "Choisir les colonnes à utiliser pour construire les adresses",
            'If you see weird characters in the preview, you can try with another encoding': "S'il y a des caractères non reconnus dans l'aperçu, vous pouvez essayer un autre encodage",
            'Drag or click on a column to select it. You can then drag the selected columns to reorder them.': "Glisser ou cliquer sur une entête pour la sélectionner. Vous pouvez ensuite réordonner les entêtes par glisser-déposer.",
            'Run the process': 'Lancer le géocodage',
            'Drag your file here': 'Glisser un fichier ici',
            'or': 'ou',
            'browse': 'choisir',
            'Geocode': 'Lancer',
            'or drag another file here': 'ou glisser un autre fichier',
            'Sorry, something went wrong…': 'Oops, quelque chose tourne pas rond… Si cela persiste, vous pouvez <a href="https://github.com/etalab/adresse.data.gouv.fr/issues">signaler une erreur</a>.',
        }
    });
</script>
{% endblock content %}
