{% extends 'base.html' %}

{% from "helpers.html" import render_field %}

{% block body_class %}download{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Données brutes</h1>
        <p><strong>{{ SITE_NAME }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
        <p>Les données listées ci-dessous sont issues du rapprochement des données & traitements adresses des partenaires de la BAN : IGN, La Poste, DGFiP, Etalab et OpenStreetMap France.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col">
            <h2>Télécharger en <a href="{{ url_for('static', filename='pdf/BAN Licence de repartage.pdf') }}">licence gratuite de repartage</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col third mwide">
            <p>Cette version de la BAN ne contient pas de données ODbL, et peut être utilisée gratuitement, sous réserve de repartage des contributions.</p>
            <p>Si vous ne souhaitez pas vous engager à mettre à disposition du public vos Enrichissements ou si vous n’utilisez pas la BAN pour votre Usage Propre vous devez vous rapporter aux autres offres proposées respectivement par <a href="http://www.laposte.fr/entreprise/produits-et-services/sna-gamme-geographique">La Poste</a> ou <a href="http://professionnels.ign.fr/pointadresse">l’IGN</a>.</p>
            <p>Le fichier à télécharger est compressé au format ZIP et pèse un peu plus de 800Mo. Il contient un fichier CSV pour chaque département.<br>
            <a href="{{ url_for('static', filename='pdf/Description du contenu du produit gratuit issu de la Base Adresse Nationale.pdf') }}">Consultez le descriptif des données</a></p>
            {% if delivery_date %}<p>Date de dernière livraison: {{ delivery_date.strftime('%d/%m/%Y') }}</p>{% endif %}
        </div>
        <div class="col two-third mwide">
            <form method="post" id="tracked_download" action="{{ url_for('download') }}">
                {{ form.csrf_token }}
                {{ render_field(form.first_name)}}
                {{ render_field(form.last_name)}}
                {{ render_field(form.email)}}
                {{ render_field(form.area)}}
                {{ render_field(form.company)}}
                <input type="submit" value="Recevoir le lien de téléchargement par email" />
            </form>
            <p>* champ obligatoire</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2>Accéder aux données sous licence ODbL</h2>
        </div>
    </div>
    <div class="row">
        <div class="col third mwide">
            <p>Pour accéder aux données diffusées par OpenStreetMap France (OSM France) sous licence ODbL, vous devez vous rendre sur le site d’OSM France.</p>
        </div>
        <div class="col two-third mwide">
            <a href="http://openstreetmap.fr/ban/" class="button neutral">Accéder à OSM France</a>
        </div>
    </div>
</div>
{% endblock content %}
