{% extends 'base.html' %}

{% block body_class %}faq{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Foire aux questions</h1>
        <p>En savoir plus sur <strong>{{ SITE_NAME }}</strong>.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col half prose">
        <h2>À propos du site</h2>
        <h3>À quoi sert ce site ?</h3>
        <p>Ce site est destiné à :</p>
        <ul>
            <li>fournir de l'information sur la Base Adresse Nationale,</li>
            <li>accéder aux données composant cette base (téléchargement),</li>
            <li>fournir des outils et services en ligne pour utiliser les données (géocodage),</li>
            <li>ainsi que pour contribuer à l'amélioration de son contenu.</li>
        </ul>
        <h3>Qui gère ce site ?</h3>
        <p>Le site {{ SITE_NAME }} est géré par la mission Etalab du SGMAP.</p>

        <h2>Les données</h2>

        <h3>La Base Adresse Nationale contient-elle des données personnelles ?</h3>
        <p>Non, cette base ne fait que référencer l'existence et la localisation géographique d'une adresse. Aucune information personnelle ne figure dans cette base de données.</p>

        <h3>Comment signaler une erreur ou un manque dans les données ?</h3>
        <p>L'outil de signalement d'erreur est en cours de développement.<br>En attendant son ouverture, vous pouvez signaler une erreur avec l'outil <a href="http://ripart.ign.fr/">Ripart de l'IGN</a> ou auprès du <a href="http://www.laposte.fr/sna">Service National de l'Adresse</a> de La Poste.</p>

    </div>
    <div class="col half">
        <h2>Quelle est la licence des données adresse gratuites disponibles ?</h2>
        <p>Les données disponibles sont proposées sous licences gratuite de repartage.</p>

        <p>La licence gratuite de repartage suppose (i) que vous utilisez la base de données Base Adresse Nationale (BAN) pour votre Usage Propre, et (ii) que vous vous engagez à mettre à disposition du public vos Enrichissements tels que définis à l’Article 1 de la licence du produit gratuit issu de la Base Adresse Nationale (BAN).<br>
        Si vous ne souhaitez pas vous engager à mettre à disposition du public vos Enrichissements ou si vous n’utilisez pas la BAN pour votre Usage Propre vous devez vous rapporter aux autres offres proposées respectivement par <a href="http://www.laposte.fr/entreprise/produits-et-services/sna-gamme-geographique">La Poste</a> ou <a href="http://professionnels.ign.fr/pointadresse">l’IGN</a>.</p>
        <p><a href="{{ url_for('static', filename='pdf/BAN Licence de repartage.pdf') }}">Téléchargez la licence au format PDF</a> / <a href="{{ url_for('static', filename='pdf/Description du contenu du produit gratuit issu de la Base Adresse Nationale.pdf') }}">Téléchargez le descriptif des données</a></p>

        <p>Par ailleurs, <a href="http://openstreetmap.fr/ban">OpenStreetMap France diffuse des données issues de la BAN sous licence libre ODbL 1.0 (Open Database Licence)</a>.</p>
        <p>Cette licence vous autorise à copier, distribuer, utiliser les données, produire des créations, transformer et construire à partir de cette base de données.<br>
        Elle impose aussi de mentionner la source des données, ainsi que de partager à l'identique les bases de données dérivées et plus généralement de garder ouvertes ces données.<br>
        Pour plus de renseignement, consultez <a href="http://www.vvlibri.org/fr/licence/odbl/10/fr/legalcode">la traduction française intégrale de la licence</a> ou le <a href="http://vvlibri.org/fr/licence/odbl/10/fr">résumé en français</a> disponibles sur le site Veni Vidi Libri ou bien le texte de référence en anglais sur <a href="http://opendatacommons.org/licenses/odbl/summary/">Open Data Commons</a></p>

        <h2>Quelle est la licence des données proposées par l'API ?</h2>
        <p>Les données utilisées par <a href="{{ url_for('api') }}">l'API disponible sur ce site</a> sont celles sous licence ODbL.</p>
 
        </div>
    </div>
</div>
{% endblock content %}
