{% macro render_field(field) %}
    <label class="cap">{{ field.label }} {% if field.flags.required %}*{% endif %}</label>
    {{ field }}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
