{% extends 'base.html' %}

{% block body_class %}map{% endblock %}

{% block content %}
<div id="map"></div>
<script type="text/javascript">
    API_URL = '{{ API_URL }}';
    TILE_URL = '{{ TILE_URL|safe }}';
</script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock content %}
