{% extends 'base.html' %}

{% block body_class %}news{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Actualités</h1>
        <p>Les événements, actualités autour de la Base Adresse Nationale.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
       <div class="col two-third twide">
            <h2>Les derniers événements</h2>
            <h3>3 juillet : Amélioration du <a href="{{ url_for('csv') }}">géocodage de fichiers CSV</a></h3>
            <p>Il est désormais possible d'indiquer les colonnes contenant le code INSEE ou le code POSTAL.
            <br>Ceci permet au géocodage de chaque ligne d'être plus pertinent en limitant la recherche à la commune ou au code postal correspondant.
            <br>La <a href="{{ url_for('api') }}">documentation de l'API</a> a été mise à jour.</p>

            <h3>11 juin : Modification de l'API</h3>
            <p>L'id de l'adresse trouvée est désormais retournée par <a href="{{ url_for('api') }}">l'API</a> (elle correspond actuellement à l'identifiant IGN).</p>

            <h3>7 juin : Mise à jour des données BAN</h3>
            <p>Les données téléchargeables en licence gratuite de repartage ont été mises à jour, DOM inclus.</p>
            <p>Les données BAN sont désormais mises à jour chaque début de semaine. Seuls les retards seront désormais signalés sur cette page.</p>

            <h3>4 juin : Page actualités/événements + formulaire de signalement</h3>
            <p>Ajout de la page actualités/événements, ainsi que du formulaire de <a href="{{ url_for('contrib') }}">signalement</a>.</p>

            <h3>1<sup>er</sup> juin : Mise à jour des données BAN</h3>
            <p>Les données téléchargeables en licence gratuite de repartage ont été mises à jour, DOM inclus.</p>

            <h3>28 mai : Mise à jour des données BAN</h3>
            <p>Les données téléchargeables en licence gratuite de repartage ont été mises à jour.</p>

            <h3>27 mai : Gestion des codes INSEE par l'API</h3>
            <p>L'<a href="{{ url_for('api') }}">API</a> de géocodage retourne désormais le code INSEE dans ses résultats et permet aussi de limiter les recherches.</p>

            <h3>19 mai : BAN Tour à Dijon</h3>
            <p>4<sup>e</sup> étape du BAN organisée par GéoBourgogne. Captation vidéo disponible sur <a href="http://livestream.com/accounts/3589765/events/4006714">http://livestream.com/accounts/3589765/events/4006714</a></p>

            <h3>18 mai : Mise à jour des données BAN</h3>
            <p>Les données téléchargeables en licence gratuite de repartage ont été mises à jour.</p>

            <h3>28 avril : BAN Tour à Toulouse</h3>
            <p>La 3<sup>e</sup> étape du BAN Tour organisée par Toulouse Métropole s'est déroulée à La Cantine de Toulouse.</p>
            <p>Une trentaine de participants se sont réunis pour une matinée de présentation du projet, des outils déjà opérationnels et des prochaines étapes.</p>
            <p>L'après midi a été consacrée à 2 ateliers: l'un sur l'identification unique des adresses et le modèles de données, l'autre sur la qualité et la mobilisation des acteurs pour l'amélioration des données.</p>

            <h3>15 avril: Lancement officiel de la BAN</h3>
            <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x2nab4x" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/x2nab4x_lancement-de-la-base-adresse-nationale-collaborative-mercredi-15-avril-2015_tech" target="_blank">Lancement de la Base Adresse Nationale...</a> <i>par <a href="http://www.dailymotion.com/SGMAP" target="_blank">SGMAP</a></i>
        </div>
        <div class="col third twide">
            <h2>Sur l'agenda de la BAN</h2>
            <ul>
              <li>➜ 9 juillet: Réunion du Comité de Pilotage BAN</li>
            </ul>
            <p>&nbsp;</p>
            
            <h3>Dernières étapes du BAN Tour</h3>
            <ul>
              <li>➜ le 17 juin à Rennes: <a href="http://cms.geobretagne.fr/content/pr%C3%A9sentation-de-la-base-adresse-nationale-ban-tour-17-juin-2015-rennes">organisé par GéoBretagne</a></li>
              <li>➜ le 30 juin à La Rochelle : organisé par Géo17 à l'Université F.L.L.A.S.H</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
