{% extends 'base.html' %}

{% block body_class %}tools{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Outils</h1>
        <p><strong>{{ SITE_NAME }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
    </div>
</div>
<div class="wrapper">
    <ul class="row">
        <li class="map">
            <h2><a href="{{ url_for('map') }}">La carte interactive</a></h2>
            <p>Cherchez des adresses et lieux-dits, cliquez pour faire un géocodage inversé…</p>
        </li>
        <li class="csv">
            <h2><a href="{{ url_for('csv') }}">Le géocodeur CSV</a></h2>
            <p>Uploadez un fichier CSV, définissez les colonnes à utiliser pour le géocodage…</p>
        </li>
        <li class="api">
            <h2><a href="{{ url_for('api') }}">L'API</a></h2>
            <p>Géocodez vos adresses grâce à l'API en ligne…</p>
        </li>
        <p>Tous ces outils sont <a href="{{ url_for('foss') }}">sous licence libre</a>.</p>
        <p>Les données de référence utilisées par l'API sont sous licence ODbL. <a href="{{ url_for('faq') }}">En savoir plus...</a></p>
    </ul>
</div>
{% endblock content %}
