<p>Bonjour {{ first_name }} {{ last_name }},</p>

<p>Vous pouvez télécharger les données BAN sous licence gratuite de repartage en cliquant sur le lien suivant:</p>

<p><a href="{{ download_link }}">Cliquez ici pour télécharger le fichier</a>.</p>

<p>Si le lien ne s'affiche pas correctement, merci de copier-coller cette URL dans votre navigateur:</p>

<p>{{ download_link }}</p>

<p>Ce lien est à usage limité. Si votre lien de téléchargement est expiré, vous pouvez le réactiver en remplissant à nouveau <a href="http://adresse.data.gouv.fr/download/">le formulaire</a>.</p>
<p>Le fichier à télécharger est compressé en ZIP et fait un peu plus de 800Mo. Il contient un fichier CSV pour chaque département.</p>

<p>&nbsp;</p>
<p>L'équipe de la Base Adresse Nationale</p>
